:root {
    --color-primery: #434455;
    --color-primery-inverted: #FFFFFF;
    --color-secondary: #2E2F42;
    --color-brand-dark: #404BBF;
    --color-brand-light: #4D5AE5;
    --color-background-primery: #FFFFFF;
    --color-background-secondary: #F4F4FD;
    --color-modal-subtitle: #2E2F42;
    --color-modal-lebel: #8E8F99;
    --color-icon-form: #2E2F42;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-primery);
    background-color: var(--color-background-primery);
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, ul, p {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

@media screen and (min-width: 428px) {
    .container {
        width: 428px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
    }
}

.section {
    padding: 96px 0;
}

@media screen and (min-width: 1200px) {
    .section {
        padding: 120px 0;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Header-desktop*/
.border-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .header-container {
        justify-content: space-between;
    }
}

.header-nav {
    display: flex;
    align-items: center;

}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .header-nav {
        gap: 120px;
    }
}

@media screen and (min-width: 1200px) {
    .header-nav {
        gap: 76px;
    }
}

.logo {
    font-family: Raleway, sans-serif;
    color: var(--color-secondary);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    padding: 24px 0;
}

.logo-part {
    color: var(--color-brand-light);
}

.header-menu {
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 767px) {
    .header-menu {
        display: none;
    }
}

.header-link {
    position: relative;
    display: block;
    color: var(--color-secondary);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 24px 0;
    outline: none;
    transition: color var(--transition);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .header-link {
        color: var(--color-secondary);
    }
}

.header-link.current {
    color: var(--color-brand-dark);
}

.header-link.current::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    width: 100%;
    height: 4px;
    background-color: currentColor;
    border-radius: 2px;
}

.header-link:hover,
.header-link:focus {
    color: var(--color-brand-dark);
}

.header-list {
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    .header-list {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .header-list {
        padding: 16px 0;
    }
}

.header-address {
    display: flex;
    gap: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .header-address {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

.address-link {
    color: var(--color-secondary);
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    outline: none;
    transition: color var(--transition);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .address-link {
        display: block;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
    }
}

.burger-button {
    stroke: var(--color-icon-form);
    width: 32px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .burger-button {
        display: none;
    }
}


/* Mobile-menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /* max-width: 428px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 40px 40px;
    gap: 20px;
    background-color: var(--color-background-primery);
    transform: translateX(100%);
    transition: transform var(--transition);
}


.mobile-menu.is-open {
    transform: translateX(0);
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #FDFDFF;
    color: var(--color-icon-form);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill var(--transition), background-color var(--transition), border-color var(--transition);
    cursor: pointer;
    outline: none;
}

.menu-close:hover,
.menu-close:focus {
    fill: var(--color-primery-inverted);
    background-color: var(--color-brand-dark);
    border-color: transparent;
}

.menu-icon {
    height: 8px;
    width: 8px;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-items {
}

.mobile-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1,11;
    letter-spacing: 0.02em;
    text-decoration: none;
    outline: none;
    color: var(--color-icon-form);
}

.mobile-link:hover,
.mobile-link:focus {
    color: var(--color-brand-dark);
}

.mobile-link.active {
    color: var(--color-brand-dark);
}

.mobile-menu-contact {
}

.address-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}

.mobile-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    font-style: normal;
    color: var(--color-brand-light);
    text-decoration: none;
    outline: none;
}

.mobile-email {
    color: #434455;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    text-decoration: none;
    outline: none;
}

.socials-mobile {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 56px;
}

@media screen and (max-width:407px) {
    .socials-mobile {
        gap: 40px;
    }
}

.socials-mobile-item {
    width: 40px;
    height: 40px;
}

.socials-mobile-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    fill: #f4f4fd;
    background-color: var(--color-brand-light);
    border-radius: 50%;
    outline: none;
    transition: background-color var(--transition);
}

.socials-mobile-link:hover,
.socials-link:focus {
    background-color: var(--color-brand-dark);
}

.socials-mobile-icon {
    width: 24px;
    height: 24px;
} 

/* Hero section */
.first-section {
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/peopleofficemb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-secondary);
    max-width: 1440px;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 767px) 
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 190dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .first-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/peopleofficemb@2x.jpg");
    }
}


@media screen and (min-width: 768px) {
    .first-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/peopleofficet.jpg");
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 190dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px){
    .first-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/peopleofficet@2x.jpg");
    }
}

@media screen and (min-width: 1200px) {
    .first-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/peopleofficedt.jpg");
    padding-top: 188px;
    padding-bottom: 188px;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 190dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .first-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/peopleofficedt@2x.jpg");
    }
}

.main-title {
    color: var(--color-primery-inverted);
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .main-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 40px;
        max-width: 496px;
    }
}

@media screen and (min-width: 1200px) {
    .main-title {
        margin-bottom: 48px;
    }
}

.button {
    color: var(--color-primery-inverted);
    background-color: var(--color-brand-light);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    width: 169px;
    height: 56px;
    outline: none;
    transition: background-color var(--transition);
}

.button:hover,
.button:focus {
    background-color: var(--color-brand-dark);
}

/* Advantages-section */
@media screen and (min-width: 1200px) {
    .advantages-section {
        padding-bottom: 0;
    } 
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .advantages-list {
        flex-wrap: wrap;
        gap: 72px 24px;
    }
}

@media screen and (min-width: 1200px) {
    .advantages-list {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }
}

.advantages-items {
    flex-basis: 100%;
}

@media screen and (min-width: 768px) {
    .advantages-items {
        flex-basis: calc((100% - 24px) / 2);

    }
}

@media screen and (min-width: 1200px) {
    .advantages-items {
        flex-basis: calc((100% - 72px) / 4);
        }
}

.adventages-conteiner {
    display: none;
}

@media screen and (min-width: 1200px) {
    .adventages-conteiner {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-background-secondary);
        margin-bottom: 8px;
        border-radius: 4px;
        height: 112px;
    }
}

.adventages-icon {
    width: 64px;
    height: 64px;
}

.advantages-titles {
    color: var(--color-secondary);
    font-size: 36px;
    line-height: 1.111;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .advantages-titles {
        text-align: start;
    }
}

@media screen and (min-width: 1200px) {
    .advantages-titles {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: 0.02em;
    }
}

.anvantages-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 1200px) {
    .anvantages-text {
        line-height: 1.5;
        font-weight: 400;
    }
}

/* Works */
.works-section {
    display: none;
}

@media screen and (min-width: 1200px) {
    .works-section {
        display: block;
    }
}

.work-title {
    text-align: center;
    margin-bottom: 72px;
    color: var(--color-secondary);
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}

.work-list {
    display: flex;
    gap: 24px;
}

.work-pictures {
    flex-basis: calc((100% - 48px) / 3);
}

.work-img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Our team */
.team-section {
    background-color: var(--color-background-secondary);
}

@media screen and (max-width: 767px) {
.team-section {
    padding-bottom: 128px;
    }
}

@media screen and (max-width: 1199px) {
    .team-section {
        padding-bottom: 104px;
    }
}



.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-secondary);;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

@media screen and (max-width: 767px) {
    .team-list {
        flex-direction: column;
        width: 264px;
        margin: 0 auto;
        gap: 72px;
    }
}

@media screen and (min-width: 768px) {
    .team-list {
        width: 552px;
        margin: 0 auto;
        gap: 64px 24px;
    }
}

@media screen and (min-width: 1200px) {
    .team-list {
        width: 1128px;
        margin: 0 auto;
        gap: 24px;
    }
}

.team-item {
    background-color: var(--color-primery-inverted);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
    .team-item {
        flex-basis: calc(100%);
    }
}


@media screen and (min-width: 768px) {
    .team-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1200px) {
    .team-item {
        flex-basis: calc((100% - 72px) / 4);
    }
}

.staff-photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.team-box {
    padding: 32px 16px;
    text-align: center;
}

.staff-name {
    margin-bottom: 8px;
    color: var(--color-secondary);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.job-title {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.socials-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.socials-item {
    width: 40px;
    height: 40px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    fill: #f4f4fd;
    background-color: var(--color-brand-light);
    border-radius: 50%;
    outline: none;
    transition: background-color var(--transition);
}

.socials-link:hover,
.socials-link:focus {
    background-color: var(--color-brand-dark);
}

.socials-icon {
    width: 16px;
    height: 16px;
}

/* Custemers */
.customers {}

/* @media screen and (min-width: 768px) {
    .customer-container {
            width: 582px;
        }
}

@media screen and (min-width: 1200px) {
    .customer-container {
        width: 1158px;
    }
} */

.custormers-title {
    text-align: center;
    color: var(--color-secondary);
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.custormers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

@media screen and (max-width: 767px) {
    .custormers-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 16px;
    }
}

@media screen and (min-width: 768px) {
    .custormers-list {
            display: flex;
            flex-wrap: wrap;
            gap: 72px 24px;
        }
}

@media screen and (min-width: 1200px) {}

.custormers-items {
    width: 168px;
    height: 88px;
}

@media screen and (max-width: 767px) {
    .custormers-items {
        flex-basis: calc((100% - 16px) / 2);
    }
}

@media screen and (min-width: 768px) {
    .custormers-items {
        flex-basis: calc((100% - 48px) / 3);
    }
}

@media screen and (min-width: 1200px) {
    .custormers-items {
        flex-basis: calc((100% - 144px) / 6);
    }
}

.custormers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    transition: color var(--transition);
    outline: none;
}

.custormers-link:hover,
.custormers-link:focus {
    border-color: var(--color-brand-dark);
}

.custormers-link:hover .custormers-icon,
.custormers-link:focus .custormers-icon {
    fill: var(--color-brand-dark);
}

.custormers-icon {
    width: 104px;
    height: 56px;
    fill: #8e8f99;
    transition: fill var(--transition);
}

/*Footer */
.footer {
    background-color: var(--color-secondary);
    padding: 96px 0;
}

.conteiner-footer {
    display: block;
    justify-content: flex-start;
    align-items: baseline;
}

@media screen and (max-width: 767px) {
    .conteiner-footer {
        gap: 72px;    
    }

}
@media screen and (min-width: 768px) {
    .container.conteiner-footer {
        display: flex;
        flex-wrap: wrap;
        width: 552px;
    }
}

@media screen and (min-width: 1200px) {
    .container.conteiner-footer {
        width: 1158px;
    }
}

.logo-container {
}

@media screen and (max-width: 767px) {
    .logo-container {
        width: 268px;
        margin: 0 auto;
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 768px) {
    .logo-container {
        margin-right: 24px;
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 1200px) {
    .logo-container {
        margin-right: 120px;
        
    }
}


.logo-footer {
    display: block;
    justify-content: flex-start;
    align-items: center;
    font-family: Raleway, sans-serif;
    color: #F4F4FD;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 16px;
    outline: none;
}

@media screen and (max-width: 767px) {
    .logo-footer {
        text-align: center;

    }
}

.footer-text {
    color: #E7E9FC;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-adress {
    
}

@media screen and (max-width: 767px) {
    .footer-adress {
        text-align: center;
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 768px) {
    .logo-container {}
}

@media screen and (min-width: 1200px) {
    .logo-container {
        margin-right: 80px;
    }
}

.footer-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
    .footer-title {
        text-align: center;
    }
}

.footer-list {
    display: flex;
    gap: 16px; 
    justify-content: center;
}

.footer-link {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    fill: #f4f4fd;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--transition);
    outline: none;
}

.footer-item {
    width: 40px;
    height: 40px;
}

.footer-icon {
    width: 24px;
    height: 24px;
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31D0AA;
}

.subscription {
    
}

@media screen and (max-width: 767px) {
    .subscription {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .subscription {
        margin-left: 0;
    }
}

@media screen and (min-width: 1200px) {
    .subscription {
        margin-left: 80px;
    }
}

.footer-form {
    display: flex;
}

@media screen and (max-width: 767px) {
    .footer-form {
        flex-direction: column;
        align-items: center;
    }
}

.sub-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-background-primery);
    margin-bottom: 16px;
}

.sub-input {
    width: 100%;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 8px 16px;
    color: var(--color-background-primery);
    outline: none;
}

@media screen and (max-width: 767px) {
    .sub-input {
        margin-bottom: 16px;
        max-width: 398px;
    }
    
}

@media screen and (min-width: 768px) {
    .sub-input {
        width: 264px;
        margin-right: 24px;
    }
    
}

@media screen and (min-width: 1200px) {
    .sub-input {
        margin-right: 24px;
    }
}

.button-sub {
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primery-inverted);
    background-color: var(--color-brand-light);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color var(--transition);
    outline: none;
}

.button-sub:hover,
.button-sub:focus {
    background-color: var(--color-brand-dark);
}
.sub-icon {
    width: 24px;
    height: 24px;
    fill: var(--color-primery-inverted);
    margin-left: 16px;
}

/* Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: scale(1.2);
}

.modal {
    position: relative;
    width: 100%;
    max-width: 408px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--transition);
    padding: 72px 24px 24px;
}

@media screen and (max-width: 767px) {
    .modal {
        max-width: 392px;
    padding: 72px 16px 24px;
    }
}

@media screen and (min-width: 768px) {
    .modal {
        max-width: 408px;
        max-height: 584px;
    } 
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill var(--transition), background-color var(--transition), border-color var(--transition); 
    cursor: pointer;
    outline: none;
}

.modal-close:hover,
.modal-close:focus {
    fill: var(--color-primery-inverted);
    background-color: var(--color-brand-dark);
    border-color: transparent;
}

.modal-icon {
    height: 8px;
    width: 8px;
}

/* Form */
.form-subtitle {
    color: var(--color-modal-subtitle);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    font-style: normal;
}

.contact-form {
    max-width: 360px;
    width: 100%;
}

.contact-form {
    display: flex; 
    flex-direction: column;
}

.form-field:nth-child(-n+3) {
    margin-bottom: 8px;
}

.form-field:nth-child(4) {
    margin-bottom: 16px;
} 

.form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.04em;
    color: var(--color-modal-lebel);
}

.icon-field {
    position: relative;
    margin-top: 4px;
}

.form-input {
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.04em;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    outline: none;
    transition: border-color var(--transition);
}

.form-input:hover,
.form-input:focus {
    border-color: var(--color-brand-light);
}

.form-svg {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    width: 18px;
    height: 24px;
    fill: var(--color-modal-subtitle);
    transition: fill var(--transition);
}

.form-input:hover +.form-svg,
.form-input:focus +.form-svg {
    fill: var(--color-brand-light);
}

.form-textarea {
    display: block;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.04em;
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-top: 8px;
    padding-left: 16px;
    margin-top: 4px;
    outline: none;
    transition: border-color var(--transition);
}

.form-textarea:hover,
.form-textarea:focus {
    border-color: var(--color-brand-light);
}

/* Checkbox */
.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 24px; 
}

.checkbox-input {
    appearance: none;
}

.checkbox-input:checked +.form-checkbox-icon {
    background-color: var(--color-brand-dark);
}


.checkbox-input:checked +.form-checkbox-icon .checkbox-icon {
    background-color: var(--color-brand-dark);
}

.form-checkbox-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    color: var(--color-background-primery);
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px;
}

.checkbox-icon {
    display: block;
    width: 10px;
    height: 8px;
    fill: currentColor; 
}

.checkbox-text {
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.04em;
    color: #757575;
    cursor: pointer;
}

.checkbox-link {
    color: var(--color-brand-light);
}

.button-form {
    margin: 0 auto;
}

/* Portfolio */
.filter-section {
    padding-top: 96px;
}

.list-buttons {
    display: flex;
    margin-bottom: 72px;
    gap: 24px;
    justify-content: center;
}

.filter-button {
    font-family: inherit;
    color: var(--color-brand-light);
    background-color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #E7E9FC;
    padding: 12px 24px;
    outline: none;
    transition: color var(--transition), background-color var(--transition), box-shadow var(--transition), border-color var(--transition);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--color-primery-inverted);
    background-color: var(--color-brand-dark);
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.list-items {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    .list-items {
    gap: 48px 0;
    }
}

@media screen and (min-width: 768px) {
    .list-items {
        gap: 72px 24px;
    }
}

@media screen and (min-width: 1200px) {
    .list-items {
        gap: 48px 24px;
    }
}

.filter-card {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 1200px) {
    .filter-card {
        box-shadow: none;
    }
}

.item-filter {
    display: block;
    text-decoration: none;
    outline: none;
    
}

.item-filter:hover,
.item-filter:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow var(--transition);
}

.card-thumb {
    position: relative;
    overflow: hidden;
}

.item-filter:hover .overlay-cards,
.item-filter:focus .overlay-cards {
    transform: translateY(0);
} 

.filter-photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.overlay-cards {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    color: var(--color-background-secondary);
    background-color: var(--color-brand-light);
    transform: translateY(100%);
    transition: transform var(--transition);
}

.overlay-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.filter-description {
    border: 1px solid #F4F4FD;
    padding: 32px 16px;
    border-top: 0;
}

@media screen and (min-width: 1200px) {
    .filter-description {
        border: 1px solid #E7E9FC;
        border-top: none;
    }
}

.product-name {
    color: var(--color-secondary);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.product-type {
    color: var(--color-primery);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
